*,
*::before,
*::after{
    box-sizing: content-box;
}
body
{
    margin: 10px;
    margin-top: 50px;
}
.box::before{
    content: "hi everyone";
}
.box{
    width: 100px;
    height: 100px;
    background-color: gold;
    padding: 20px;
    border: 10px solid olivedrab;
   box-sizing: border-box;
   display: inline-block;
}